<div="comments">
<% @comments.each do |comment| %>
    <div="comment_wrapper">
        <p class="comment_name"><%= comment.name %></p>
        <p class="comment_date"><%= comment.created_at %></p>
        <p class="comment_body"><%= comment.body %></p>
    </div>
<%end%>
</div>
