<%= image_tag("simon.jpg") %>
<h2 class="title">About</h2>
<p>Hi, I'm Simon Buysse. Welcome to my development portfolio website. After years of being obsessed with anything IT related, 
I decided to make a living out of this passion. I quit my (awesome) job as an IT recruiter and attached myself 
to my desk for 10+ hrs/day. After months of self disciplined study I am incredibly proud to call 
myself a software developer. When I'm not working on the computer, I enjoy surfing, meditation and yoga.</p>

