<div id="top" class="hero-image">
    <img src="http://res.cloudinary.com/travelcrumbs/image/upload/v1442028177/hero%20image/footsteps.jpg"></img>
    <div class="motivational">
        <h1>Joy is not made to be a crumb.</h1>
        <h2>~ Mary Oliver</h2>
    </div>
</div>
<span class="anchor" id="anchor-grid"></span>
<div id="grid" data-columns class="grid">
    <%= render @posts %>
</div>

<div class="clearfix">
    <% flash.each do |type, message|%>
    <div class="alert flash <%=type%>">
        <%= message %>
    </div>
    <%end%>
</div>  

<%= javascript_include_tag 'exclusive/salvattore.min' %>
