<div id="top" class="hero-image">
    <img 
        srcset="http://res.cloudinary.com/travelcrumbs/image/upload/f_auto,q_70,w_256/v1442028177/hero%20image/footsteps.jpg 256w, 
        http://res.cloudinary.com/travelcrumbs/image/upload/f_auto,q_70,w_512/v1442028177/hero%20image/footsteps.jpg 512w, 
        http://res.cloudinary.com/travelcrumbs/image/upload/f_auto,q_70,w_768/v1442028177/hero%20image/footsteps.jpg 768w, 
        http://res.cloudinary.com/travelcrumbs/image/upload/f_auto,q_70,w_1024/v1442028177/hero%20image/footsteps.jpg 1024w, 
        http://res.cloudinary.com/travelcrumbs/image/upload/f_auto,q_70,w_1280/v1442028177/hero%20image/footsteps.jpg 1280w, 
        http://res.cloudinary.com/travelcrumbs/image/upload/f_auto,q_70,w_2048/v1442028177/hero%20image/footsteps.jpg 2048w"
        alt="beach in the azores"/>
    <div class="motivational">
        <h1>Joy is not made to be a crumb.</h1>
        <h2>~ Mary Oliver</h2>
    </div>
</div>
<span class="anchor" id="anchor-grid"></span>
<div id="grid" data-columns class="grid">
    <%= render @posts %>
</div>

<div class="clearfix">
    <% flash.each do |type, message|%>
    <div class="alert flash <%=type%>">
        <%= message %>
    </div>
    <%end%>
</div>  

<%= javascript_include_tag 'exclusive/salvattore.min' %>
