<div id="top" class="hero-image">
    <div class="motivational">
        <h1>Playbird</h1>
        <h3 class="phonetics"><strong>noun</strong> /ple&#618b&#601&#720d/</h3>
        <h2>1. Someone of markedly playful nature</h2>
        <h2>2. Troublemaker</h2>
    </div>
</div>
<span class="anchor" id="anchor-grid"></span>
<div id="grid" data-columns class="grid">
    <%= render @posts %>
</div>

<div class="clearfix">
    <% flash.each do |type, message|%>
    <div class="alert flash <%=type%>">
        <%= message %>
    </div>
    <%end%>
</div>  

<%= javascript_include_tag 'exclusive/salvattore.min' %>
