<% @posts.each do |post| %>
    <div id=<%=dom_id(post)%> class="post_wrapper"> 
        <h2 class="title">
          <%= post.title %>
        </h2>
         
        <p class="date">
          Written <%=post.created_at.strftime("%B %d, %Y")%> 
        </p>
        
        <%= link_to "Read on", post_path(post)%>
    </div>
<%end%>
