/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require posts
 *= require_self
 */

/*********************
 * TYPOGRAPHY 
 ********************/
$pelorous: #33acb7;
$cascade: #95A5A6;
$shark: #2a2f35;

html, body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
 
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}  

div#sidebar{
    /*category in sidebar*/
    li.category {
        font-weight: 700;
        font-size: 0.7rem;
        text-transform: uppercase;
        color: $pelorous;
    }

    ul{
        margin-bottom: 1.5rem;
    }

    li {
        padding: 0.5rem 0;
        a{
          color: $cascade;
          transition: all .4s ease;
          &:hover {
            color: $pelorous;
          }  
        }
    }
}

div#header p, 
.sign_in {
          color: $cascade;
}

.header_button {
          color: $cascade;
          font-size: 0.8rem;
}

.read_button {
    font-size: 0.7rem;
    color: $shark;
}

.sign_in {
    font-size: 0.8rem;
}

.title{
    color: $shark;
    font-size: 2.5rem;
} 
.body {
    color: $shark;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.75;
}
.date{
    color:$shark;
    font-weight: 400;
    font-size:0.9rem;
}


/*********************
 * MAIN CONTENT
 ********************/
div#main_content {
    margin-left: 251px;
    margin-top: 3rem;
} 



/*********************
 * HEADER 
 ********************/
div#header{
    border-bottom: 1px solid #d6dce0;
    background: #f5f7f9;
    padding: 0 3rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 3rem;
    left: 251px;

    p {
        display: inline-block;
    }

    a {
      color: $cascade;
      text-decoration: none;
    }

    
    div#header_buttons{
        float: right;
        margin-top: 0.5rem;
    }

    .header_button{
        background: transparent;
        border: 1px solid #d6dce0;
        border-radius: 1.5rem;
        margin-left: 0.5rem;
        &:hover {
            border: 1px solid $pelorous;
            color: $pelorous;
        }
        padding: 0.5rem 1.5rem;
        display: inline-block;
    }
}



/*********************
 * SIDEBAR 
 ********************/
div#sidebar {
    border-right: 1px solid #d6dce0;
    background-color: #f5f7f9;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 7.5rem 0 0 0;
    
    div#logo{
        position:absolute;
        top: 3rem;
        right: 3rem;

        img{
            width: 3rem;
        }
    }
    
    ul{
        list-style:none;
        text-align: right;
        padding-right: 3rem;
    }

    li{
    }
    
    .sign_in{
        position: absolute;
        top: 80%;
        right: 3rem;
    }
}



/*********************
 * POST WRAPPER, each post in the index gets wrapped in one of these divs
 ********************/
div.post_wrapper {
    border-bottom:  1px solid #d6dce0;
    border-radius: 4px;
    padding: 3rem 3rem 1.5rem 3rem ;

    .title {
        margin: 0;
    }

.read_button {
        background: transparent;
        padding: 0.5rem 1.2rem;
        border: 1px solid $shark;
        border-radius: 1.5rem;
        display: inline-block;
        margin-top: 2rem;

        &:hover{
            border: 1px solid $pelorous;
            color: $pelorous;
        }
    }
}



/*********************
 * NEW POST WRAPPER
*********************/
div#new_post_wrapper {
    padding: 3rem 3rem 1rem 3rem;

    input[type="text"], input[type="email"], input[type="password"], textarea {
        margin-top: 10px;
        width: 90%;
        border: 1px solid #d6dce0;
        border-radius: 0.35rem;
        padding: 0.5rem 1rem;
    }

    input[type="text"]{
        height: 2rem;
    }
    textarea {
        min-height: 7rem;
    }
    
    input[type="submit"]{
        background: transparent;
        border: 1px solid #d6dce0;
        border-radius: 1.5rem;
        padding: 0.5rem 1.5rem;

        &:hover {
            border: 1px solid $pelorous;
            color: $pelorous;
        }
    }
}


/*********************
 * POST CONTENT
*********************/
div#post_content {
    padding: 3rem 3rem 1rem 3rem;
}

/*********************
 * FLASH ALERTS 
 ********************/
div.alert {
    width: 17rem;
    margin: 3rem 0 0rem 3rem;
    float: left;
    border: 2px solid #444;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

div.success {
    border: 2px solid green;
    color: green; 
    }

div.error {
    border: 2px solid red;
    color: red; 
    display: none;
    }

/*********************
 * VALIDATION MESSAGES 
 ********************/
div#errors {
    color: tomato;
    
    h2 {
        font-size: 1.2em;
    }
    li {
        font-size: 1em;
    }
}


/*********************
 * CLEARFIX 
 ********************/
.group:after { 
content: ""; 
display: table; 
clear: both; 
}
