$navbar-height: 5rem;
$navbar-title-size: 3rem;
$navbar-bottom-padding: ($navbar-height - $navbar-title-size)/2;
$back-color: #EDEEEE;
$text-color: #8A8A8A;
$shark: #2a2f35;
$darker-title: #464646;
@mixin white-text-black-back{
    color: white;
    background: rgba(0,0,20, 0.5);
    padding: 0.5rem;
    border-radius: 4px;
}
@mixin icon ($margin-left, $margin-top){
    position: relative;
    margin-left: $margin-left;
    &::before{
        font-family: 'icomoon';
        font-style: normal;
        position: absolute;
        left: -1.2rem;
        top: $margin-top;
    }
}
@mixin center-page{
    max-width: 900px;
    margin: 0 auto;
}
@mixin title{
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
}
@mixin info-text{
    display: inline-block;
        font-size: 1rem;
        font-weight: 500;
        font-style:italic;
        font-family: 'PT Sans', sans-serif;
        &.comments-icon{
            @include icon(1.7rem, 2px);
          }
        &.likes-icon{
            @include icon(2.7rem, 0);
        }
}

@viewport{ 
    zoom: 1.0; 
    width: extend-to-zoom; 
}
html, body{
    font-family: 'Raleway', sans-serif;
    background-color: $back-color;
    color: $shark;
    letter-spacing: 0.0625rem;
    word-spacing: 0.0625rem;
}

h1, h2, h3, h4 {
  font-weight: 500;
  color: $darker-title;
}
h1{
    word-spacing: 0.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}
input[type="text"], input[type="email"], input[type="password"], textarea, {
    margin-top: 10px;
    width: 90%;
    border: 1px solid $shark;
    border-radius: 0.35rem;
    padding: 0.5rem 1rem;
}
input[type="file"]{
    margin: 10px 0;
}
input[type="text"]{
    height: 2rem;
}
textarea {
    min-height: 12rem;
}


/**********************
* ARTICLE
**********************/

.article {
    padding-top : 1px;
    @include center-page;
    h1 {
        @include title;
    }
    h3{
        font-size: 2rem;
        text-align: center;
        display: block;
        width: 80%;
        padding: 1rem 0;
        margin: 1.5rem auto;
        border-top: 1px solid $text-color;
        border-bottom: 1px solid $text-color;
    }
    p{
        line-height: 1.75;
    }
    .article-info{
        text-align: center;
        margin: 1rem auto;
        h5{
        @include info-text;    
        }
    }
    
}

/**********************
* COMMENTS
*********************/
.comments{
    @include center-page;
    padding-bottom: 3rem;
    h1 {
        font-size: 2rem;
        border-bottom: 1px solid $shark;
        border-top: 1px solid $shark;
        padding: 2rem 0;
        text-align: center;
        /*text-transform: uppercase;*/
    }
    .comment-wrapper {
        width: 70%;
        float:left;
    }

    h3 {
        margin-top: 2rem;
    }
   p.comment-name {
        text-transform: uppercase;
        color: $darker-title;
        font-size: 0.7rem;
        margin: 1rem 0 0 0;
    }
    p.comment-body{
        font-size: 1.1rem;
        margin: 0.3rem 0 0 0;
    }
    p.comment-date {
        font-size: 0.8rem;
    }
    input[type="text"], textarea {
                width: 50%;
    }
}

.grid{
    min-height: 100vh;
    max-width: 1200px;
    margin: 4rem 1rem;
}


.tile {
    background-color: white;
    padding-bottom: 1px;
    margin-bottom: 2rem;
    box-shadow: 5px 7px 20px -8px rgba(0,0,0, .8);
    overflow: hidden;
    h2{
        text-transform: uppercase;
        margin: 0 1rem 1rem;
        font-weight: 500;
    }
    h5 {
        margin: 1rem 1rem 0rem;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 400;
    }

    p {
        margin: 1rem;
    }
}
div.intrisic-ratio {
    padding-bottom: 70%;
    position: relative;
    height: 0;
    > div {
        position: absolute;
        top: 0; left: 0; 
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: bottom;
    }
}
.navbar, .article-nav {
   display: none;
}

.hero-image {
    background-image: image-url(footsteps);
    position: relative;
    height: 100vh;
    background-position: bottom ; 
    background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
    .short-motivational{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        text-align: center;
        h1, h2, h3 {
            color: white;
            font-family: 'atwriter';
            text-shadow: 1px 1px 7px rgb(0,0,0); 
            margin: 0.5rem;
        }
        h1 {
            font-weight: 400;
            font-size: 2;
            margin-bottom: 0;
        }
        h2 {
            font-size: 1.1rem;
        }
        h3 {
            margin-top: 0;
            font-size: 0.9rem;
        }
    }
    .motivational{
        display: none;
    }
}

.anchor {
    display:block;
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
}

/*********************
 * ABOUT 
 ********************/
.about-page{
    @include center-page;
    margin-top: $navbar-height;
}

/*********************
 * FORM NEW/EDIT POST 
 ********************/
.thumb {
    display: inline-block;
    img{
        width: 100px;
    }
}

.update-post-wrapper,
.new-post-wrapper{
    position: relative;
    padding-bottom: 4rem;
    h1{
        @include title;
    }
    @include center-page;
    label {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 0.8rem;
    }
    input[type="submit"]{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
}


/*********************
 * CLEARFIX 
 ********************/
.clearfix:after { 
content: ""; 
display: table; 
clear: both; 
}
