$navbar-height: 5rem;
$back-color: #EDEEEE;
$text-color: #8A8A8A;
$shark: #2a2f35;
$darker-title: #464646;
@mixin center-page-big{
    max-width: 900px;
    margin: auto;
}
@viewport{ 
    zoom: 1.0; 
    width: extend-to-zoom; 
}
@media screen and ( min-width: 800px ) {
    
    .hero-image{
        height: 100vh;
        background-position: 50%;
        .motivational {
            h1{
                font-weight: 600;
                font-size: 4rem;
            }
            h2{
                font-weight: 600;
                font-size: 3rem;
            }
        }
    }

    
   /**********************
    * TILE LAYOUT
    **********************/

    $tile-width: 32%;
    $tile-margin: (100% - (3 * $tile-width))/2;

    #grid[data-columns]::before {
        content: '3 .column.size-1of3';
    }

    .size-1of3 { 
        width: $tile-width;  
    }
    .column { 
        float: left;
        & + & {
            margin-left: $tile-margin;
        }
    }
    
    /**********************
    * ARTICLE
    **********************/
    .article {
        h1 {
            font-size: 5rem;
            margin: 6rem 0 1.5rem;
        }

        .article-info{
            h5{
                margin: 1.7rem 0 2.7rem;
            }
        }
    }
}


@media screen and ( min-width: 850px ) {
    .anchor {
        height: $navbar-height;
        margin-top: -$navbar-height;
    }
}

@media screen and ( min-width: 920px ) {
    .new-post-wrapper, 
    .update-post-wrapper,
    .article, 
    .comments{
        @include center-page-big;
    }
}

@media screen and ( min-width: 1050px ) {
    /**********************
    * TILE LAYOUT
    **********************/
    .grid{
        margin: 4rem auto;
    }

    $tile-width: 23%;
    $tile-margin: (100% - (4 * $tile-width))/3;

    #grid[data-columns]::before {
        content: '4 .column.size-1of4';
    }

    .size-1of4 { 
    width: $tile-width;  
    }

    .column { 
        float: left;
        & + & {
            margin-left: $tile-margin;
        }
    }
}
